<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--读取配置文件-->
    <properties resource="jdbc.properties"/>

    <!--设置类型别名，解决实体类mapper.xml配置中调用包名过长的问题
    alias不设置的话，默认为类名，不区分大小写
    package,将整个包设置为：默认为类名，不区分大小写
    -->
    <typeAliases>
        <package name="com.jing.mybatis.pojo"/>
    </typeAliases>
    <plugins>
        <!--配置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
    <!--配置链接数据库的环境-->
    <environments default="development">
        <!--配置某个具体的环境
            id：表示连接数据库环境的唯一标识，environment可以多个，但是只使用一个
        -->
        <environment id="development">
            <!--是五处理器的环境
            type=JDBC,使用JDBC默认的事务管理器
            type=MANAGED，Spring的管理器
            -->
            <transactionManager type="JDBC"/>
            <!--数据源类型
            type：POOLED,使用连接池缓存缓存数据库连接
            type：unPOOLED，不使用连接池
            JNDI：使用上下文的数据源
            -->
            <dataSource type="POOLED">
                <!--连接数据库的驱动-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--连接地址-->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
        <!-- <mapper resource="mapper/ParameterMapper.xml"/>-->
        <package name="com.jing.mybatis.mapper"/>
    </mappers>
</configuration>